<% if (nominations.length) { %>
  <h3>Lunch nominations:</h3>
  <ol>
    <% nominations.forEach(function(nomination) { %>
      <li><%= nomination.where %> (<%= nomination.user %>)
        <ul>
          <% nomination.votes.forEach(function(user) { %>
            <li><%= user.name %>
                <% if (user.comment) { %>
                    -- <%= user.comment %>
                <% } %>
            </li>
          <% }) %>
        </ul>
      </li>
    <% }) %>
  </ol>
<% } else { %>
  <h3>No Lunch nominations</h3>
<% } %>
